body{
    background: #f0f2f5
}
h1{
    text-align: center;
   color:#008fd5;
}
table{
    width: 80%;
    margin: 40px auto;
    background: #fff;
    color: black;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid #008fd5;
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: #ccc;
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #008fd5;
  }

input[type="submit"],input[type="reset"]{
    background: #008fd5;
    color: white;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #0866ff;
}

input[type="reset"]:hover{
    background: #0866ff;
}

button{
    background: #008fd5;
    color: white;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: 2px solid #0866ff;
}

button:hover{
    background:#0866ff ;
}